:root {
  /* --accent-foreground-color: #63a1ff;  */
  --accent-foreground-color: #459bf1;
  /* #63ffda; hsl(59, 95%, 76%); #00fff2; #03d3f8; */ /* hsl(182, 93%, 49%); */

  /* --accent-foreground-color2: #e10298; */
  --accent-foreground-color2: #63ffda;

  --dark-background-color: #0a192f; /* #172b3a #0b1a30 #2e2e2e #121212 #2a2b2d */
  --dark-foreground-color: hsla(0, 0%, 100%, 0.8);

  --light-background-color: #f2f2f2; /* #f1f3f5 #fefefe */
  --light-foreground-color: hsla(0, 0%, 0%, 0.8);

  --header-background-color: #1b3c69; /* #7953b2 */

  --brand-animation-duration: 8s;
  --brand-icon-size: 90px;
  --brand-clip-path-offset: 90px;

  --debug-border1: 0px solid green;
  --debug-border2: 0px solid yellow;
  /* --debug-bg-color1: #9e9e9e; */
  /* --debug-bg-color2: #aeaeae;
    --debug-bg-color3: #bebebe;
    --debug-bg-color4: #cecece; */
}

.tl-edges {
  overflow: visible !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-items: flex-start;
  justify-content: space-between;
  border: var(--debug-border2);
}

.col1 {
  flex: 0 0 8.3333%;
}

.col2 {
  flex: 0 0 16.67%;
}

.col3 {
  flex: 0 0 25%;
}

.col4 {
  flex: 0 0 33.33%;
}

.col5 {
  flex: 0 0 41.66%;
}

.col6 {
  flex: 0 0 50%;
}

.col7 {
  flex: 0 0 58.33%;
}

.col8 {
  flex: 0 0 66.67%;
}

.col9 {
  flex: 0 0 75%;
}

.col10 {
  flex: 0 0 83.33%;
}

.col11 {
  flex: 0 0 91.67%;
}

.col12 {
  flex-basis: 0 0 100%;
  border: var(--debug-border1);
}

.form-wrapper {
  margin: 30px 0;
  padding: 30px 0;
  /* background-color: #efefef; */
  border: 0px solid #efefef;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 1px #9e9e9e; */
}

.form-label {
  /* font: normal 14px "Roboto", arial;
    font-weight: 300; */
  color: rgba(42, 52, 72, 0.65);
}

.dark .form-label {
  color: #fff;
}

.error-text {
  color: red;
  font-size: 0.8em;
}

.form-button {
  /* background-color: #000; */
  background-color: transparent;
  color: #13aff0;
  border: 2px solid #13aff0;
  border-radius: 290486px;
  display: inline-block;
  padding: 14px 18px;
  font-family: arial;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: none;
  transition-duration: 04s;
  margin: 20px 0;
  padding: 10px 60px;
  transition: all 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #13aff0;
  /* opacity: 0.85; */
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.form-button:disabled {
  color: #ccc;
}

.form-button:focus {
  outline: 0;
}

.center {
  text-align: center;
  /* margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%, -50%);
    transform: translateX(-50%, -50%);
    */
}

/**
 * Used with CSSTransition
 */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.left-enter {
  left: 75%;
}
.left-enter-active {
  left: 25%;
  transition: left 1000ms ease-in;
}
.left-exit {
  left: 25%;
}
.left-exit-active {
  left: 75%;
  transition: left 1000ms ease-in;
}
